:root {
    --brand-light: #ffffff;
    --brand-dark: #2c2c2c;
    --brand-1: #ff5757;
    --brand-2: #5e2828;
    --brand-alt: #8dc641;
}

$brand-light: #ffffff;
$brand-dark: #2c2c2c;
$brand-1: #ff5757;
$brand-2: #5e2828;
$brand-alt: #8dc641;