/* ROOT RULE (TO BE DEFINED BY DEV) */
// :root {
//     --brand-light: #ffffff;
//     --brand-dark: #2c2c2c;
//     --brand-1: #ff5757;
//     --brand-2: #5e2828;
//     --brand-alt: #8dc641;
// }
@import '_variables.scss';
// @import '/scss/variables';

/* ############################################## SMALL */
/*### FLEX RULES */
.df {
    display: flex;
}

.fd-r {
    flex-direction: row;
}

.fd-rr {
    flex-direction: row-reverse;
}

.fd-c {
    flex-direction: column;
}

.fd-cr {
    flex-direction: column-reverse;
}

.fw-w {
    flex-wrap: wrap;
}

.fw-wr {
    flex-wrap: wrap-reverse;
}

.fw-nw {
    flex-wrap: nowrap;
}

.jc-c {
    justify-content: center;
}

.jc-s {
    justify-content: flex-start;
}

.jc-e {
    justify-content: flex-end;
}

.jc-b {
    justify-content: space-between;
}

.jc-a {
    justify-content: space-around;
}

.jc-v {
    justify-content: space-evenly;
}

.ai-c {
    align-items: center;
}

.ai-s {
    align-items: flex-start;
}

.ai-e {
    align-items: flex-end;
}

.ai-t {
    align-items: stretch;
}

.ai-b {
    align-items: baseline;
}

/* Flex item classes */

.o1 {
    order: 1;
}

.o2 {
    order: 2;
}

.o3 {
    order: 3;
}

.o4 {
    order: 4;
}

.o5 {
    order: 5;
}

.o6 {
    order: 6;
}

.o7 {
    order: 7;
}

.o8 {
    order: 8;
}

.o9 {
    order: 9;
}

.fg-0 {
    flex-grow: 0;
}

.fg-1 {
    flex-grow: 1;
}

.fs-0 {
    flex-shrink: 0;
}

.fs-1 {
    flex-shrink: 1;
}

.fb-a {
    flex-basis: auto;
}

.fb-0 {
    flex-basis: 0;
}

.fb-25 {
    flex-basis: 25%;
}

.fb-50 {
    flex-basis: 50%;
}

.fb-75 {
    flex-basis: 75%;
}

.fb-100 {
    flex-basis: 100%;
}

.as-a {
    align-self: auto;
}

.as-s {
    align-self: flex-start;
}

.as-e {
    align-self: flex-end;
}

.as-c {
    align-self: center;
}

.as-b {
    align-self: baseline;
}

.as-t {
    align-self: stretch;
}

/* ### GAP */
.g-0 {
    gap: 0;
}

.g-1 {
    gap: 0.25rem;
}

.g-2 {
    gap: 0.5rem;
}

.g-3 {
    gap: 0.75rem;
}

.g-4 {
    gap: 1rem;
}

.g-5 {
    gap: 1.25rem;
}

/* ### PADDING */

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}

.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pe-0 {
    padding-right: 0 !important;
}

.pe-1 {
    padding-right: 0.25rem !important;
}

.pe-2 {
    padding-right: 0.5rem !important;
}

.pe-3 {
    padding-right: 1rem !important;
}

.pe-4 {
    padding-right: 1.5rem !important;
}

.pe-5 {
    padding-right: 3rem !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.ps-0 {
    padding-left: 0 !important;
}

.ps-1 {
    padding-left: 0.25rem !important;
}

.ps-2 {
    padding-left: 0.5rem !important;
}

.ps-3 {
    padding-left: 1rem !important;
}

.ps-4 {
    padding-left: 1.5rem !important;
}

.ps-5 {
    padding-left: 3rem !important;
}

/* ### MARGIN */
.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 0.25rem !important;
}

.m-2 {
    margin: 0.5rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.m-4 {
    margin: 1.5rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.m-a {
    margin: auto !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}

.mx-a {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.my-a {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mt-a {
    margin-top: auto !important;
}

.me-0 {
    margin-right: 0 !important;
}

.me-1 {
    margin-right: 0.25rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.me-3 {
    margin-right: 1rem !important;
}

.me-4 {
    margin-right: 1.5rem !important;
}

.me-5 {
    margin-right: 3rem !important;
}

.me-a {
    margin-right: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mb-a {
    margin-bottom: auto !important;
}

.ms-0 {
    margin-left: 0 !important;
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.ms-4 {
    margin-left: 1.5rem !important;
}

.ms-5 {
    margin-left: 3rem !important;
}

.ms-a {
    margin-left: auto !important;
}

/* ### WIDTHS AND HEIGHTS */
.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.w-a {
    width: auto !important;
}


.minw-25 {
    min-width: 25vh !important;
}

.minw-50 {
    min-width: 50vh !important;
}

.minw-100 {
    min-width: 100vh !important;
}

.maxw-100 {
    max-width: 100% !important;
}


.h-25 {
    height: 25% !important;
}

.h-50 {
    height: 50% !important;
}

.h-75 {
    height: 75% !important;
}

.h-100 {
    height: 100% !important;
}

.h-a {
    height: auto !important;
}

.minh-25 {
    min-height: 25vh !important;
}

.minh-50 {
    min-height: 50vh !important;
}

.minh-100 {
    min-height: 100vh !important;
}

.maxh-100 {
    max-height: 100% !important;
}

/* ### TEXT */
.ta-l {
    text-align: left !important;
}

.ta-r {
    text-align: right !important;
}

.ta-c {
    text-align: center !important;
}

.tw-w {
    white-space: normal !important;
}

.tw-nw {
    white-space: nowrap !important;
}

.c-l {
    color: var(--brand-light) !important;
}

.c-d {
    color: var(--brand-dark) !important;
}

.c-1 {
    color: var(--brand-1) !important;
}

.c-2 {
    color: var(--brand-2) !important;
}

.c-alt {
    color: var(--brand-alt) !important;
}

/* ### BACKGROUNDS */

.bg-l {
    background-color: var(--brand-light) !important;
}

.bg-d {
    background-color: var(--brand-dark) !important;
}

.bg-1 {
    background-color: var(--brand-1) !important;
}

.bg-2 {
    background-color: var(--brand-2) !important;
}

.bg-alt {
    background-color: var(--brand-alt) !important;
}

/* ############################################## SMALL */


/* ############################################################################################ MEDIUM */
/*### FLEX RULES */
@media (min-width: 768px) {

    ._df {
        display: flex !important;
    }

    ._fd-r {
        flex-direction: row !important;
    }

    ._fd-rr {
        flex-direction: row-reverse !important;
    }

    ._fd-c {
        flex-direction: column !important;
    }

    ._fd-cr {
        flex-direction: column-reverse !important;
    }

    ._fw-w {
        flex-wrap: wrap !important;
    }

    ._fw-wr {
        flex-wrap: wrap-reverse !important;
    }

    ._fw-nw {
        flex-wrap: nowrap !important;
    }

    ._jc-c {
        justify-content: center !important;
    }

    ._jc-s {
        justify-content: flex-start !important;
    }

    ._jc-e {
        justify-content: flex-end !important;
    }

    ._jc-b {
        justify-content: space-between !important;
    }

    ._jc-a {
        justify-content: space-around !important;
    }

    ._jc-v {
        justify-content: space-evenly !important;
    }

    ._ai-c {
        align-items: center !important;
    }

    ._ai-s {
        align-items: flex-start !important;
    }

    ._ai-e {
        align-items: flex-end !important;
    }

    ._ai-t {
        align-items: stretch !important;
    }

    ._ai-b {
        align-items: baseline !important;
    }

    /* Flex item classes */

    ._o1 {
        order: 1 !important;
    }

    ._o2 {
        order: 2 !important;
    }

    ._o3 {
        order: 3 !important;
    }

    ._o4 {
        order: 4 !important;
    }

    ._o5 {
        order: 5 !important;
    }

    ._o6 {
        order: 6 !important;
    }

    ._o7 {
        order: 7 !important;
    }

    ._o8 {
        order: 8 !important;
    }

    ._o9 {
        order: 9 !important;
    }

    ._fg-0 {
        flex-grow: 0 !important;
    }

    ._fg-1 {
        flex-grow: 1 !important;
    }

    ._fs-0 {
        flex-shrink: 0 !important;
    }

    ._fs-1 {
        flex-shrink: 1 !important;
    }

    ._fb-a {
        flex-basis: auto !important;
    }

    ._fb-0 {
        flex-basis: 0 !important;
    }

    ._fb-25 {
        flex-basis: 25% !important;
    }

    ._fb-50 {
        flex-basis: 50% !important;
    }

    ._fb-75 {
        flex-basis: 75% !important;
    }

    ._fb-100 {
        flex-basis: 100% !important;
    }

    ._as-a {
        align-self: auto !important;
    }

    ._as-s {
        align-self: flex-start !important;
    }

    ._as-e {
        align-self: flex-end !important;
    }

    ._as-c {
        align-self: center !important;
    }

    ._as-b {
        align-self: baseline !important;
    }

    ._as-t {
        align-self: stretch !important;
    }

    /* ### GAP */
    ._g-0 {
        gap: 0 !important;
    }

    ._g-1 {
        gap: 0.25rem !important;
    }

    ._g-2 {
        gap: 0.5rem !important;
    }

    ._g-3 {
        gap: 0.75rem !important;
    }

    ._g-4 {
        gap: 1rem !important;
    }

    ._g-5 {
        gap: 1.25rem !important;
    }

    /* ### PADDING */

    ._p-0 {
        padding: 0 !important;
    }

    ._p-1 {
        padding: 0.25rem !important;
    }

    ._p-2 {
        padding: 0.5rem !important;
    }

    ._p-3 {
        padding: 1rem !important;
    }

    ._p-4 {
        padding: 1.5rem !important;
    }

    ._p-5 {
        padding: 3rem !important;
    }

    ._px-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    ._px-1 {
        padding-right: 0.25rem !important;
        padding-left: 0.25rem !important;
    }

    ._px-2 {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    ._px-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    ._px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    ._px-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }

    ._py-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    ._py-1 {
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
    }

    ._py-2 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    ._py-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    ._py-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    ._py-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    ._pt-0 {
        padding-top: 0 !important;
    }

    ._pt-1 {
        padding-top: 0.25rem !important;
    }

    ._pt-2 {
        padding-top: 0.5rem !important;
    }

    ._pt-3 {
        padding-top: 1rem !important;
    }

    ._pt-4 {
        padding-top: 1.5rem !important;
    }

    ._pt-5 {
        padding-top: 3rem !important;
    }

    ._pe-0 {
        padding-right: 0 !important;
    }

    ._pe-1 {
        padding-right: 0.25rem !important;
    }

    ._pe-2 {
        padding-right: 0.5rem !important;
    }

    ._pe-3 {
        padding-right: 1rem !important;
    }

    ._pe-4 {
        padding-right: 1.5rem !important;
    }

    ._pe-5 {
        padding-right: 3rem !important;
    }

    ._pb-0 {
        padding-bottom: 0 !important;
    }

    ._pb-1 {
        padding-bottom: 0.25rem !important;
    }

    ._pb-2 {
        padding-bottom: 0.5rem !important;
    }

    ._pb-3 {
        padding-bottom: 1rem !important;
    }

    ._pb-4 {
        padding-bottom: 1.5rem !important;
    }

    ._pb-5 {
        padding-bottom: 3rem !important;
    }

    ._ps-0 {
        padding-left: 0 !important;
    }

    ._ps-1 {
        padding-left: 0.25rem !important;
    }

    ._ps-2 {
        padding-left: 0.5rem !important;
    }

    ._ps-3 {
        padding-left: 1rem !important;
    }

    ._ps-4 {
        padding-left: 1.5rem !important;
    }

    ._ps-5 {
        padding-left: 3rem !important;
    }

    /* ### MARGIN */
    ._m-0 {
        margin: 0 !important;
    }

    ._m-1 {
        margin: 0.25rem !important;
    }

    ._m-2 {
        margin: 0.5rem !important;
    }

    ._m-3 {
        margin: 1rem !important;
    }

    ._m-4 {
        margin: 1.5rem !important;
    }

    ._m-5 {
        margin: 3rem !important;
    }

    ._m-a {
        margin: auto !important;
    }

    ._mx-0 {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    ._mx-1 {
        margin-right: 0.25rem !important;
        margin-left: 0.25rem !important;
    }

    ._mx-2 {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }

    ._mx-3 {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }

    ._mx-4 {
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important;
    }

    ._mx-5 {
        margin-right: 3rem !important;
        margin-left: 3rem !important;
    }

    ._mx-a {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    ._my-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    ._my-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }

    ._my-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    ._my-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    ._my-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }

    ._my-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    ._my-a {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    ._mt-0 {
        margin-top: 0 !important;
    }

    ._mt-1 {
        margin-top: 0.25rem !important;
    }

    ._mt-2 {
        margin-top: 0.5rem !important;
    }

    ._mt-3 {
        margin-top: 1rem !important;
    }

    ._mt-4 {
        margin-top: 1.5rem !important;
    }

    ._mt-5 {
        margin-top: 3rem !important;
    }

    ._mt-a {
        margin-top: auto !important;
    }

    ._me-0 {
        margin-right: 0 !important;
    }

    ._me-1 {
        margin-right: 0.25rem !important;
    }

    ._me-2 {
        margin-right: 0.5rem !important;
    }

    ._me-3 {
        margin-right: 1rem !important;
    }

    ._me-4 {
        margin-right: 1.5rem !important;
    }

    ._me-5 {
        margin-right: 3rem !important;
    }

    ._me-a {
        margin-right: auto !important;
    }

    ._mb-0 {
        margin-bottom: 0 !important;
    }

    ._mb-1 {
        margin-bottom: 0.25rem !important;
    }

    ._mb-2 {
        margin-bottom: 0.5rem !important;
    }

    ._mb-3 {
        margin-bottom: 1rem !important;
    }

    ._mb-4 {
        margin-bottom: 1.5rem !important;
    }

    ._mb-5 {
        margin-bottom: 3rem !important;
    }

    ._mb-a {
        margin-bottom: auto !important;
    }

    ._ms-0 {
        margin-left: 0 !important;
    }

    ._ms-1 {
        margin-left: 0.25rem !important;
    }

    ._ms-2 {
        margin-left: 0.5rem !important;
    }

    ._ms-3 {
        margin-left: 1rem !important;
    }

    ._ms-4 {
        margin-left: 1.5rem !important;
    }

    ._ms-5 {
        margin-left: 3rem !important;
    }

    ._ms-a {
        margin-left: auto !important;
    }

    /* ### WIDTHS AND HEIGHTS */
    ._w-25 {
        width: 25% !important;
    }

    ._w-50 {
        width: 50% !important;
    }

    ._w-75 {
        width: 75% !important;
    }

    ._w-100 {
        width: 100% !important;
    }

    ._w-a {
        width: auto !important;
    }

    ._minw-25 {
        min-width: 25vh !important;
    }

    ._minw-50 {
        min-width: 50vh !important;
    }

    ._minw-100 {
        min-width: 100vh !important;
    }

    ._maxw-100 {
        max-width: 100% !important;
    }

    ._h-25 {
        height: 25% !important;
    }

    ._h-50 {
        height: 50% !important;
    }

    ._h-75 {
        height: 75% !important;
    }

    ._h-100 {
        height: 100% !important;
    }

    ._h-a {
        height: auto !important;
    }

    ._maxh-100 {
        max-height: 100% !important;
    }



    ._minh-25 {
        min-height: 25vh !important;
    }

    ._minh-50 {
        min-height: 50vh !important;
    }

    ._minh-100 {
        min-height: 100vh !important;
    }

    /* ### TEXT */
    ._ta-l {
        text-align: left !important;
    }

    ._ta-r {
        text-align: right !important;
    }

    ._ta-c {
        text-align: center !important;
    }

    ._tw-w {
        white-space: normal !important;
    }

    ._txtwt-nw {
        white-space: nowrap !important;
    }

    ._c-l {
        color: var(--brand-light) !important;
    }

    ._c-d {
        color: var(--brand-dark) !important;
    }

    ._c-1 {
        color: var(--brand-1) !important;
    }

    ._c-2 {
        color: var(--brand-2) !important;
    }

    ._c-alt {
        color: var(--brand-alt) !important;
    }

    /* ### BACKGROUNDS */

    ._bg-l {
        background-color: var(--brand-light) !important;
    }

    ._bg-d {
        background-color: var(--brand-dark) !important;
    }

    ._bg-1 {
        background-color: var(--brand-1) !important;
    }

    ._bg-2 {
        background-color: var(--brand-2) !important;
    }

    ._bg-alt {
        background-color: var(--brand-alt) !important;
    }
}

/* ############################################## MEDIUM */


/* ############################################################################################ LARGE */
@media (min-width: 1200px) {

    .__df {
        display: flex !important;
    }

    .__fd-r {
        flex-direction: row !important;
    }

    .__fd-rr {
        flex-direction: row-reverse !important;
    }

    .__fd-c {
        flex-direction: column !important;
    }

    .__fd-cr {
        flex-direction: column-reverse !important;
    }

    .__fw-w {
        flex-wrap: wrap !important;
    }

    .__fw-wr {
        flex-wrap: wrap-reverse !important;
    }

    .__fw-nw {
        flex-wrap: nowrap !important;
    }

    .__jc-c {
        justify-content: center !important;
    }

    .__jc-s {
        justify-content: flex-start !important;
    }

    .__jc-e {
        justify-content: flex-end !important;
    }

    .__jc-b {
        justify-content: space-between !important;
    }

    .__jc-a {
        justify-content: space-around !important;
    }

    .__jc-v {
        justify-content: space-evenly !important;
    }

    .__ai-c {
        align-items: center !important;
    }

    .__ai-s {
        align-items: flex-start !important;
    }

    .__ai-e {
        align-items: flex-end !important;
    }

    .__ai-t {
        align-items: stretch !important;
    }

    .__ai-b {
        align-items: baseline !important;
    }

    /* Flex item classes */

    .__o1 {
        order: 1 !important;
    }

    .__o2 {
        order: 2 !important;
    }

    .__o3 {
        order: 3 !important;
    }

    .__o4 {
        order: 4 !important;
    }

    .__o5 {
        order: 5 !important;
    }

    .__o6 {
        order: 6 !important;
    }

    .__o7 {
        order: 7 !important;
    }

    .__o8 {
        order: 8 !important;
    }

    .__o9 {
        order: 9 !important;
    }

    .__fg-0 {
        flex-grow: 0 !important;
    }

    .__fg-1 {
        flex-grow: 1 !important;
    }

    .__fs-0 {
        flex-shrink: 0 !important;
    }

    .__fs-1 {
        flex-shrink: 1 !important;
    }

    .__fb-a {
        flex-basis: auto !important;
    }

    .__fb-0 {
        flex-basis: 0 !important;
    }

    .__fb-25 {
        flex-basis: 25% !important;
    }

    .__fb-50 {
        flex-basis: 50% !important;
    }

    .__fb-75 {
        flex-basis: 75% !important;
    }

    .__fb-100 {
        flex-basis: 100% !important;
    }

    .__as-a {
        align-self: auto !important;
    }

    .__as-s {
        align-self: flex-start !important;
    }

    .__as-e {
        align-self: flex-end !important;
    }

    .__as-c {
        align-self: center !important;
    }

    .__as-b {
        align-self: baseline !important;
    }

    .__as-t {
        align-self: stretch !important;
    }

    /* ### GAP */
    .__g-0 {
        gap: 0 !important;
    }

    .__g-1 {
        gap: 0.25rem !important;
    }

    .__g-2 {
        gap: 0.5rem !important;
    }

    .__g-3 {
        gap: 0.75rem !important;
    }

    .__g-4 {
        gap: 1rem !important;
    }

    .__g-5 {
        gap: 1.25rem !important;
    }

    /* ### PADDING */

    .__p-0 {
        padding: 0 !important;
    }

    .__p-1 {
        padding: 0.25rem !important;
    }

    .__p-2 {
        padding: 0.5rem !important;
    }

    .__p-3 {
        padding: 1rem !important;
    }

    .__p-4 {
        padding: 1.5rem !important;
    }

    .__p-5 {
        padding: 3rem !important;
    }

    .__px-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .__px-1 {
        padding-right: 0.25rem !important;
        padding-left: 0.25rem !important;
    }

    .__px-2 {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    .__px-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .__px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .__px-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }

    .__py-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .__py-1 {
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
    }

    .__py-2 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    .__py-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .__py-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .__py-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    .__pt-0 {
        padding-top: 0 !important;
    }

    .__pt-1 {
        padding-top: 0.25rem !important;
    }

    .__pt-2 {
        padding-top: 0.5rem !important;
    }

    .__pt-3 {
        padding-top: 1rem !important;
    }

    .__pt-4 {
        padding-top: 1.5rem !important;
    }

    .__pt-5 {
        padding-top: 3rem !important;
    }

    .__pe-0 {
        padding-right: 0 !important;
    }

    .__pe-1 {
        padding-right: 0.25rem !important;
    }

    .__pe-2 {
        padding-right: 0.5rem !important;
    }

    .__pe-3 {
        padding-right: 1rem !important;
    }

    .__pe-4 {
        padding-right: 1.5rem !important;
    }

    .__pe-5 {
        padding-right: 3rem !important;
    }

    .__pb-0 {
        padding-bottom: 0 !important;
    }

    .__pb-1 {
        padding-bottom: 0.25rem !important;
    }

    .__pb-2 {
        padding-bottom: 0.5rem !important;
    }

    .__pb-3 {
        padding-bottom: 1rem !important;
    }

    .__pb-4 {
        padding-bottom: 1.5rem !important;
    }

    .__pb-5 {
        padding-bottom: 3rem !important;
    }

    .__ps-0 {
        padding-left: 0 !important;
    }

    .__ps-1 {
        padding-left: 0.25rem !important;
    }

    .__ps-2 {
        padding-left: 0.5rem !important;
    }

    .__ps-3 {
        padding-left: 1rem !important;
    }

    .__ps-4 {
        padding-left: 1.5rem !important;
    }

    .__ps-5 {
        padding-left: 3rem !important;
    }

    /* ### MARGIN */
    .__m-0 {
        margin: 0 !important;
    }

    .__m-1 {
        margin: 0.25rem !important;
    }

    .__m-2 {
        margin: 0.5rem !important;
    }

    .__m-3 {
        margin: 1rem !important;
    }

    .__m-4 {
        margin: 1.5rem !important;
    }

    .__m-5 {
        margin: 3rem !important;
    }

    .__m-a {
        margin: auto !important;
    }

    .__mx-0 {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .__mx-1 {
        margin-right: 0.25rem !important;
        margin-left: 0.25rem !important;
    }

    .__mx-2 {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
    }

    .__mx-3 {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }

    .__mx-4 {
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important;
    }

    .__mx-5 {
        margin-right: 3rem !important;
        margin-left: 3rem !important;
    }

    .__mx-a {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .__my-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .__my-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }

    .__my-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .__my-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .__my-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }

    .__my-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .__my-a {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .__mt-0 {
        margin-top: 0 !important;
    }

    .__mt-1 {
        margin-top: 0.25rem !important;
    }

    .__mt-2 {
        margin-top: 0.5rem !important;
    }

    .__mt-3 {
        margin-top: 1rem !important;
    }

    .__mt-4 {
        margin-top: 1.5rem !important;
    }

    .__mt-5 {
        margin-top: 3rem !important;
    }

    .__mt-a {
        margin-top: auto !important;
    }

    .__me-0 {
        margin-right: 0 !important;
    }

    .__me-1 {
        margin-right: 0.25rem !important;
    }

    .__me-2 {
        margin-right: 0.5rem !important;
    }

    .__me-3 {
        margin-right: 1rem !important;
    }

    .__me-4 {
        margin-right: 1.5rem !important;
    }

    .__me-5 {
        margin-right: 3rem !important;
    }

    .__me-a {
        margin-right: auto !important;
    }

    .__mb-0 {
        margin-bottom: 0 !important;
    }

    .__mb-1 {
        margin-bottom: 0.25rem !important;
    }

    .__mb-2 {
        margin-bottom: 0.5rem !important;
    }

    .__mb-3 {
        margin-bottom: 1rem !important;
    }

    .__mb-4 {
        margin-bottom: 1.5rem !important;
    }

    .__mb-5 {
        margin-bottom: 3rem !important;
    }

    .__mb-a {
        margin-bottom: auto !important;
    }

    .__ms-0 {
        margin-left: 0 !important;
    }

    .__ms-1 {
        margin-left: 0.25rem !important;
    }

    .__ms-2 {
        margin-left: 0.5rem !important;
    }

    .__ms-3 {
        margin-left: 1rem !important;
    }

    .__ms-4 {
        margin-left: 1.5rem !important;
    }

    .__ms-5 {
        margin-left: 3rem !important;
    }

    .__ms-a {
        margin-left: auto !important;
    }

    /* ### WIDTHS AND HEIGHTS */
    .__w-25 {
        width: 25% !important;
    }

    .__w-50 {
        width: 50% !important;
    }

    .__w-75 {
        width: 75% !important;
    }

    .__w-100 {
        width: 100% !important;
    }

    .__w-a {
        width: auto !important;
    }

    .__minw-25 {
        min-width: 25vh !important;
    }

    .__minw-50 {
        min-width: 50vh !important;
    }

    .__minw-100 {
        min-width: 100vh !important;
    }

    .__maxw-100 {
        max-width: 100% !important;
    }

    .__h-25 {
        height: 25% !important;
    }

    .__h-50 {
        height: 50% !important;
    }

    .__h-75 {
        height: 75% !important;
    }

    .__h-100 {
        height: 100% !important;
    }

    .__h-a {
        height: auto !important;
    }

    .__minh-25 {
        min-height: 25vh !important;
    }

    .__minh-50 {
        min-height: 50vh !important;
    }

    .__minh-100 {
        min-height: 100vh !important;
    }

    .__maxh-100 {
        max-height: 100% !important;
    }


    /* ### TEXT */
    .__ta-l {
        text-align: left !important;
    }

    .__ta-r {
        text-align: right !important;
    }

    .__ta-c {
        text-align: center !important;
    }

    .__tw-w {
        white-space: normal !important;
    }

    .__tw-nw {
        white-space: nowrap !important;
    }

    .__c-l {
        color: var(--brand-light) !important;
    }

    .__c-d {
        color: var(--brand-dark) !important;
    }

    .__c-1 {
        color: var(--brand-1) !important;
    }

    .__c-2 {
        color: var(--brand-2) !important;
    }

    .__c-alt {
        color: var(--brand-alt) !important;
    }

    /* ### BACKGROUNDS */

    .__bg-l {
        background-color: var(--brand-light) !important;
    }

    .__bg-d {
        background-color: var(--brand-dark) !important;
    }

    .__bg-1 {
        background-color: var(--brand-1) !important;
    }

    .__bg-2 {
        background-color: var(--brand-2) !important;
    }

    .__bg-alt {
        background-color: var(--brand-alt) !important;
    }
}

/* ############################################## LARGE */






/* #################################################### */
/* ############################################## OTHERS */
/* ############################################## UTILS */
/* #################################################### */